#createCourse{
    display: none;
}
#createGame{
    display: none;
}
#mcqChoices{
	display:none;
}
#choices{
	display:none;
}
.thumbnail{
    width:40%;
    height:60%;
}
.thumbnail .caption{
    padding-top: 0%;
}
.container{
    margin: 0%;
    padding: 0%;
    width :100%;
}
#img1{    
    height:100%;
    border-radius: 20%;
}
#newCourse {
    width:40%;
    text-align:center;
}
#courseName{
	width:40%;
	text-align:center;
}
#gameName{
	width:40%;
	text-align:center;
}
#Qstatement{
	width:90%;
}

/*.navbar{
    background: #eee;
}*/