#createCourse{
    display: none;
}
#createGame{
    display: none;
}
#courseForm{
    display: none;
    background: #eee;
    position: absolute;
}
#mcqChoices{
	display:none;
}
#gameForm{
	display:none;
}
#questionForm{
	display:none;
}
#choices{
	display:none;
}