<!DOCTYPE html>
<html ng-app="main">
<head>
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="CSS/styleGames.css" />
	<script src="lib/angular.min.js"></script>
	<script src="JS/jquery-3.1.1.min.js"></script>
	<script src="JS/bootstrap.min.js"></script>
	<script src="JS/jsGames.js"></script>
	
	<link rel="icon" href="logo.png" type="image/x-icon">
    <title>Games</title>
</head>
<body onload="check()">
    <div class="container">
        <div ng-controller="ctrl">
        	<nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
                    <a class="navbar-brand" href="#">ST-Comm</a>
                  	<a class="navbar-brand" href="#"><img src="logo.png" id="img1"/></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                  <li id="home" ><a href="home.html">Home</a></li>
	                  <li id="home" ><a href="#" ng-click = "getLogs()">Log</a></li>
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
	                  <li><a href="#">{{username}}</a></li>
	                  <li id="signOut"><a href="#">Sign out</a></li>
	                </ul>
	              </div>
              </div>
            </nav>
            <div class="row">
                <div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="game in games">
                	
                    <center><div class="thumbnail">
                        <img src="logo.png">
                        
                        <div class="dropdown dropbtn M" ng-click="openMenu(game)" id="Menu">
						    <div class="smallMenu" ></div>
						    <div class="smallMenu" ></div>
						    <div class="smallMenu" ></div>
						
						    <div id={{game}} class="dropdown-content">
						        <a href="#" id="editGame" ng-click="editGame(game)">Edit</a>
						        <a href="#" id="copyGame" data-toggle="modal" data-target="#myModal2" ng-click="rememberGame(game)">Copy</a>
						        <a href="#" id="getCollForm" data-toggle="modal" data-target="#myModal6" ng-click="rememberGame(game)">Add collaborator</a>
						        <a href="#" id="cancelGame" ng-click="cancelGame(game)">Cancel</a>
						    </div>
						</div>
						
                        <div class="caption">
                            <center><h3>{{game}}</h3></center>
                            <center>
                                <input type="button"  name={{game}} ng-click="playGame(game);" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="let's play"/> 
                            </center>
                        </div>
                    </div></center>
                </div>
            </div>
            
            <div id="playGameForm" >
                <form>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" id ="questionNum"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><h3>{{gameName}}</h3></center>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><h3 id="score"></h3></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><div> {{question}}</div></center>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3" ng-repeat="choice in choices">
                                            <center>
                                                <div ><input type="radio" value={{choice}}
                                                name="choices" checked id={{choice}}/>{{choice}}</div>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<br>
                                        <div class="col-lg-12">
                                        	<p id="time"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<br>
                                        <div class="col-lg-12">
                                            <center>
                                                <input type="button" id="submitAnswer" value ="Submit" ng-click="submitAnswer()" class="btn btn-default"/>
                                            </center>
                                        </div>
                                    </div>                      
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <center>
                                    	<input type="button" id="closeGame" value="Save score then Close game" class= "btn btn-default" data-dismiss="modal"/>
                                    </center>	
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div id="CopyForm" >
                <form ng-submit="copyGame()">
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" >Copy Game</h4>
                                </div>
                                <br>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input placeholder="New game name" id="newGameName" ng-model="newGameName" required/></center>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input type="text" placeholder="Course name" id="newCourseName" ng-model="newCourseName" required/></center>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        	<center>
                                            	<p id="errorCopy">Game name is already exists or Course name is not exists</p>
                                        	</center>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                    	<br>
                                        <div class="col-lg-12">
                                            <center>
                                                <input type="submit" id="performCopy" value ="Copy"  class="btn btn-default"/>
                                            </center>
                                        </div>
                                    </div>                      
                                </div>
                                <br>
                                <div class="modal-footer">
                                    	<input type="button" id="cancelCopy" value="Cancel" class= "btn btn-default" data-dismiss="modal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="gameForm">
                <form ng-submit="editGameInfo()" >
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" >Edit Game</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input id="gameName2"  placeholder="Game Name*" required/></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><p id="invalidGameName2">Game name is already exist</p></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center>
                                                Number Of Questions <input type="number" id="numOfQuestions2" 
                                                min="1" max="40" required/>
                                            </center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center>
                                                <input type="submit" class="btn btn-default" id="editQuestionform" value="Edit"/>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" id="cancelEditingGame" class="btn btn-default" value="cancel" data-dismiss="modal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
            
            <div id="editForm">
                <form ng-submit="editQuestions()">
                    
                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <center><h4 class="modal-title" id="questionNum2"></h4></center>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><input id="Qstatement2" required placeholder="Question statement*"/></center>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <center>True/False <input type="radio" id="tf2" name="Qtype" value ="TF" checked/></center>
                                    </div>
                                    <div class="col-lg-6">
                                        <center>MCQ <input type="radio" id="mcq2" name="Qtype" value ="MCQ"/></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 id="choices2">Choices</h4>
                                        <br>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <center>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq12" placeholder="choice1*" required/>
                                            </div>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq22" placeholder="choice2*" required/>
                                            </div>
                                        </center>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <center>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq32" placeholder="choice3"/>
                                            </div>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq42" placeholder="choice4"/>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-lg-12">
                                        <center>
                                            <input id="answer2" required placeholder="Correct Answer*"/>
                                        </center>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center>
                                            Time : <input type="number" id="time2" min="2" required/> secs
                                        </center>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><p id="invalidAnswer2">answer doesn"t match any choice !</p></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-lg-12">
                                        <center><input type="submit" id="editQuestion" value="Edit" 
                                               class="btn btn-default" /></center>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cancelEditing" class=" btn btn-default" data-dismiss="modal" >Cancel</button>
                            </div>
                          </div>

                        </div>
                      </div>
                </form> 
            </div>
            
            <div id="logForm">                    
	            <div class="modal fade" id="myModal5" role="dialog">
	                <div class="modal-dialog">
	
	                  <!-- Modal content-->
	                  <div class="modal-content">
	                    <div class="modal-header">
	                      <button type="button" class="close" data-dismiss="modal">&times;</button>
	                      <center><h4 class="modal-title">Log Form</h4></center>
	                    </div>
	                    <div class="modal-body" >
	                        <div class="row" ng-repeat="log in logs">
	                        	<div class="col-lg-12 col-md-12 col-xs-12" >
	                        		{{log.newGameName}} in {{log.courseName}}  
	                        		=> {{log.operation}} by
	                        		<input type="button" value="Undo" id={{log.id}} class="btn btn-default undo" ng-click ="undoOperation(log.id)"/>  
	                        		<br>
	                        		{{log.teacherName}}
	                        	</div>
	                        	<hr/>
	                        </div>    
							
	                    </div>
	                  </div>
	                </div>
	              </div>
            </div>
            <div id="collaboratorsForm">
            	<form ng-submit="addColl()">                    
	            <div class="modal fade" id="myModal6" role="dialog">
	                <div class="modal-dialog">
	
	                  <!-- Modal content-->
	                  <div class="modal-content">
	                    <div class="modal-header">
	                      <button type="button" class="close" data-dismiss="modal">&times;</button>
	                      <center><h4 class="modal-title">Collaborator Form</h4></center>
	                    </div>
	                    <br>
	                    <div class="modal-body" >
	                        <div class="row">
	                        	<div class="col-lg-12 col-md-12 col-xs-12" >
	                        		<center><input id="collName" placeholder="Collaborator Name*" required ng-model ="collName"/></center>
	                        	</div>
	                        </div>
	                        <br>
	                        <div class="row">
                                  
                                 <div class="col-lg-12">
                                     <center><input type="submit" id="addColl" value="Save" 
                                            class="btn btn-default" /></center>
                                 </div>
                            </div>
	                    </div>
	                    <br>
	                    <div class="modal-footer">
                        	 <button type="button" id="cancelAdding" class=" btn btn-default" data-dismiss="modal" >Cancel</button>
                    	</div>
	                  </div>
	                </div>
	              </div>
	             </form>
            </div>
            

        </div>
    </div>
</body>
</html>