<!DOCTYPE html>
<html>
<head ng-app="main">
    <link href="CSS/bootstrap.css" rel="stylesheet" />
    <script src="lib/angular.min.js"></script>
    <link href="CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="CSS/flexslider.css" rel="stylesheet" />
    <link href="CSS/styleIndex.css" rel="stylesheet" />    
    <script src="JS/jquery-1.10.2.js"></script>
    <script src="JS/bootstrap.js"></script> 
    <script src="JS/jquery.flexslider.js"></script>
    <script src="JS/scrollReveal.js"></script>
    <script src="JS/jquery.easing.min.js"></script>
    <script src="JS/jsIndex.js"></script>
    
    <title>ST-Comm</title>
    <link rel="icon" href="logo.png" type="image/x-icon">
</head>
<body ng-controller="ctrl">
   
 <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">ST-comm <img class="logo-custom" src="logo.png" id="logo" /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home"><span>HOME <span class="border"></span></span></a></li>
                    <li><a href="#contact-sec"><span>CONTACT <span class="border"></span></span></a></li>
                    <li><a>|</a></li>
                    <li id="join"><a href="signIn.html"><span>JOIN<span class="border"></span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
      <!--NAVBAR SECTION END-->
       <div class="home-sec" id="home" >
           <div class="overlay">
               <div class="container">
                   <div class="row text-center " >
                       <div class="col-lg-12  col-md-12 col-sm-12">
                            <div class="flexslider set-flexi" id="main-section" >
                                <ul class="slides move-me">
                                    <!-- Slider 01 -->
                                    <li>
                                        <h3>Here learning is fun</h3>
                                        <h1>Here, you will learn at home for free</h1>
                                    </li>
                                    <!-- End Slider 01 -->

                                    <!-- Slider 02 -->
                                    <li>
                                        <h3>Here learning is fun</h3>
                                       <h1>Here, you will ignore grades and teacher punishments</h1>
                                    </li>
                                    <!-- End Slider 02 -->

                                    <!-- Slider 03 -->
                                    <li>
                                        <h3>Here learning is fun</h3>
                                       <h1>Here, you will learn everything without studying a word</h1>
                                    </li>
                                    <!-- End Slider 03 -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
       <!--HOME SECTION END-->   
    <div  class="tag-line" >
        <div class="container">
            <div class="row  text-center" >               
                <div class="col-lg-12  col-md-12 col-sm-12">
               
                    <h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i> WELCOME TO ST-Comm <i class="fa fa-circle-o-notch"></i> </h2>
                </div>
            </div>
        </div>
    </div>
    <!--HOME SECTION TAG LINE END-->   
         <div id="features-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">FEATURE LIST </h1>
                     <p data-scroll-reveal="enter from the bottom after 0.3s" >
                      
                         </p>
                 </div>
             </div>
             <!--/.HEADER LINE END-->


           <div class="row" >
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="about-div">
                     <img src="challenge.jpg"  id="img1" />
                   <h3 >Challenge</h3>
                 <hr />
                       <hr />
                   <p >
                       Get a score for each game you play,<br> Challenge yourself and get best scores!
                   </p>
               
                </div>
                   </div>
                   <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                     <div class="about-div">
                     <img src="collaborate.png"  id="img2" />
                   <h3 >Collaborate</h3>
                 <hr />
                       <hr />
                   <p >
                       Add collaborators to games you create ,<br> together you can produce fantastic games.
                       
                   </p>
                </div>
                   </div>
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="about-div">
                     <img src="notify.png"  id="img3" />
                   <h3 >Notify</h3>
                 <hr />
                       <hr />
                   <p >
                       Notify interested students with new games,<br> and get a notification of they comments.
                   </p>
                </div>
                   </div>
               </div>
             </div>
   <!-- FEATURES SECTION END-->

    <div id="contact-sec"   >
           <div class="overlay">
 <div class="container set-pad">
      <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line" >CONTACT US  </h1>
                     <center>If you have a question, we have an answer. <br>If you need something,
                            we'll help you. Contact us anytime.</center>
                 </div>

             </div>
             <!--/.HEADER LINE END-->
           <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.5s" >
           
               
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <form ng-submit="sendMsg()">
                        <div class="form-group">
                                <input placeholder="Name*" required id="subject" ng-model="subject" class="form-control " />
                            </div>
                            <div class="form-group">
                                <input class="form-control " type="email" placeholder="Email*" required id="email" ng-model="email"/>
                            </div>
                            <div class="form-group">
                                <textarea rows="5" cols="50" placeholder="Message*" required id="message" ng-model="msg" class="form-control" style="min-height: 150px;"></textarea>
                            </div>
                            <div class="form-group">
                                <center><input type="submit" class="btn btn-default" value="Contact us now" id="contactButton"/></center>
                            </div>

                    </form>
                </div>

               </div>
                </div>
          </div> 
       </div>
     <br><br>
     <!-- CONTACT SECTION END-->
    <div id="footer">
          <center>Designed By : Ahmed Abd El-Majeed</center>
    </div>
     <!-- FOOTER SECTION END-->
   
    
</body>
</html>
