<!DOCTYPE html>
<html ng-app="main">
<head>
    <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="CSS/styleHome.css" />
    <script src="lib/angular.min.js"></script>
    <script src="JS/jquery-3.1.1.min.js"></script>
    <script src="JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="JS/jsHome.js" ></script>
    
    <link rel="icon" href="logo.png" type="image/x-icon">
    <title>Home</title>
</head>
<body id="test" onload="check()">
    <div class="container">
    
        <div ng-controller="ctrl">
        	<nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
                    <a class="navbar-brand" href="#">ST-Comm</a>
                  <a class="navbar-brand" href="#"><img src="logo.png" id="img1"/></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li id="home" ><a href="home.html">Home</a></li>
                  <li id="allCourses" ng-click="getAllCourses()"><a href="#" id="allCourses">All Courses</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">{{username}}</a></li>
                  <li id="signOut"><a href="#">Sign out</a></li>
                </ul>
                </div>
              </div>
            </nav>
        	
        	
        	<div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <center>
                        <input type="button" id="createCourse" value="createCourse" class="btn btn-default" data-toggle="modal" data-target="#myModal"/>
                    </center>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <center>
                        <input type="button" id="createGame" value="createGame" class="btn btn-default" data-toggle="modal" data-target="#myModal2"/>
                    </center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="course in courses">
                    <center>
                    	<div class="thumbnail">
                    		<img src="logo.png">
                    		<div class="caption">
                        		<center><h3>{{course}}</h3></center>
                        		<center><input type="button" value="Open" class="btn btn-default" name={{course}} id={{course}} onclick="clicked(this);"/> </center>
                    		</div>
                    	</div>
                    </center>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="newCourse in allCourses">
                    <center>
                    	<div class="thumbnail">
                    		<img src="logo.png">
                    		<div class="caption">
                        		<center><h3>{{newCourse}}</h3></center>
                        		<center><input type="button" value="Register" class="btn btn-default" id={{newCourse}} name={{newCourse}} ng-click="register(newCourse);" onclick="disable(this)"/> </center>
                    		</div>
                    	</div>
                    </center>
                </div>
            </div>
            
            <div id="courseForm">
                <form id="form1" ng-submit="createCourse()" >

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" >Create Course</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input id="newCourse" ng-model="newCourse" required placeholder="Course Name*"/></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                						<div class="col-lg-12 col-xs-12">
                    						<p id="nameExists">Course name is already exist</p>
                						</div>
            						</div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center>
                                                <input type="submit" class="btn btn-default" id="addCourse" value="Add New Course"/>
                                            </center>
                                        </div>
                                    </div>                      
                                </div>
                                <div class="modal-footer">
                                    <input type="button" id="cancelCreateCourse" class= "btn btn-default" data-dismiss="modal" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="gameForm">
                <form id="form2" ng-submit="createGame()" >
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" >Create Game</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input id="courseName" placeholder="Course Name*" required/></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><p id="invalidCourseName">Course name is already exist</p></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><input id="gameName"  placeholder="Game Name*" required/></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center><p id="invalidGameName">Game name is already exist</p></center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center>
                                                Number Of Questions <input type="number" id="numOfQuestions" 
                                                min="1" max="40" value="1"/>
                                            </center>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <center>
                                                <input type="submit" class="cancelCreateGame btn btn-default" id="getQuestionform" value="submit"/>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" id="cancelCreateGame" class="btn btn-default" value="cancel" data-dismiss="modal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>

            <div id="questionForm">
                <form id="form3" ng-submit="submitQuestion()">
                    
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title" id="questionNum"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><input id="Qstatement" required placeholder="Question statement*"/></center>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <center>True/False <input type="radio" id="tf" name="Qtype" value ="TF" checked/></center>
                                    </div>
                                    <div class="col-lg-6">
                                        <center>MCQ <input type="radio" id="mcq" name="Qtype" value ="MCQ"/></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 id="choices">Choices</h4>
                                        <br>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <center>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq1" placeholder="choice1*"/>
                                            </div>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq2" placeholder="choice2*"/>
                                            </div>
                                        </center>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <center>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq3" placeholder="choice3"/>
                                            </div>
                                            <div class="col-lg-6 col-xs-6 col-md-6">
                                                <input id="mcq4" placeholder="choice4"/>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-lg-12">
                                        <center>
                                            <input id="answer" required placeholder="Correct Answer*"/>
                                        </center>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center>
                                            Time : <input type="number" id="time" min="2" value="2"/> secs
                                        </center>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center><p id="invalidAnswer">answer doesn"t match any choice !</p></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col-lg-12">
                                        <center><input type="submit" id="submitQuestion" value="submit" 
                                               class="btn btn-default" /></center>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cancelCreateGame " class=" btn btn-default" data-dismiss="modal" >Cancel</button>
                            </div>
                          </div>

                        </div>
                      </div>
                </form> 
            </div>

        </div>

    </div>
</body>
</html>
