.thumbnail{
    width:60%;
    height:60%;
}
.thumbnail .caption{
    padding-top: 0%;
}
.container{
    margin: 0%;
    padding: 0%;
    width :100%;
}
#img1{    
    height:100%;
    border-radius: 20%;
}
body{
    overflow-x: hidden;
}
#time{
	float:right;
	color : #82B1FF;
}





.smallMenu {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

.dropbtn {
    border: none;
    cursor: pointer;
    
}

.dropdown {
    display: inline-block;
    position:absolute;
	top:1%;
	margin-left:1%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

#errorCopy{
	display:none;
	color :red;
}
#newCourseName{
	text-align:center;
	border:none;
	width:40%;
	border-bottom: 2px solid #82B1FF;
}
#newGameName{
	text-align:center;
	width:40%;
	border:none;
	border-bottom: 2px solid #82B1FF;
}
#Menu{
	display:none;
}
#time2{
	width:7%;
	text-align:center;
}
#Qstatement2{
	width:90%;
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#mcq12{
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#mcq22{
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#mcq32{
	display :none;
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#mcq42{
	display :none;
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#answer2{
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#invalidAnswer2{
	display : none;
	color:red;
}
#invalidGameName2{
	display : none;
	color:red;
}
#gameName2{
	width:40%;
	text-align:center;
	border: none;
	border-bottom: 2px solid #82B1FF;
}
.modal-body{
   
    overflow-y: auto;
}
hr{
    width:50%;
    border: 1px solid #82B1FF;
}
.undo{
	float :right;
}
#collName{
	text-align:center;
	border: none;
	border-bottom: 2px solid #82B1FF;
}
#notColl{
	display : none;
	color:red;
}